<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="RestManag.Properties.Settings.RestConnectionString"
            connectionString="Data Source=(local)\SQLEXPRESS;Initial Catalog=Rest;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="RestManag.Properties.Settings.RestDatabaseConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\RestDatabase.accdb"
            providerName="System.Data.OleDb" />
        <add name="RestManag.Properties.Settings.CorrectDatabaseConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\CorrectDatabase.accdb"
            providerName="System.Data.OleDb" />
    </connectionStrings>
</configuration>